@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
  
    --primary: 142 69% 58%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ton: 199 92% 56%;
    --ton-foreground: 0 0% 100%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142 69% 58%;

    --tg-viewport-safe-area-inset-top: 0.5rem;
    --tg-viewport-content-safe-area-inset-top: 0;
    --tg-viewport-safe-area-inset-bottom: 1rem;

    --tg-viewport-height: 1dvh;

    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    line-height: 140%;;
  }

  input[type="time"],
  input[type="date"],
  input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  * {    
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
  }
}